*{
    margin: 0;
    padding: 0
}

.rotate-scale-up-diag-2 {
	-webkit-animation: rotate-scale-up-diag-2 0.8s linear both;
	        animation: rotate-scale-up-diag-2 0.8s linear both;
}

@-webkit-keyframes rotate-scale-up-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2) rotate3d(-1, 1, 0, 180deg);
            transform: scale(2) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
            transform: scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}
@keyframes rotate-scale-up-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2) rotate3d(-1, 1, 0, 180deg);
            transform: scale(2) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
            transform: scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}

body{
    height: 844px;
    width: 390px;
}

header{
    color: white;
    background-color: rgb(0, 97, 84);
    text-align: center;
    font-size: 25px;
    font-family: Tahoma;
    display: flex;
}
    
main{ 
    background-color: rgb(214, 199, 185);
    max-height: 100vh;
}

main div{
    background-color: rgb(214, 199, 185);
    text-align: center;
}

main div img{
    height: 200px;
    width: 300px;
    border-radius: 15px;
}

main div h1{
    font-weight: 30px;
}

main div a{
    margin-right: 7px;
    font-size: 1.5rem;
    color: rgb(0, 97, 84);
    text-align: center;
    text-decoration: none;
    background-color: rgb(230, 224, 218);
    border-radius: 3px;
}

footer{
    background-color: rgb(214, 199, 185);
    text-align: center;
}

footer a img{
    width: 24px;
    height: 24px;
}