*{
    margin: 0;
    padding: 0
}

body{
    height: 844px;
    width: 390px;
    background-color: rgb(250, 152, 152);
}

header{
    background-color:rgb(250, 152, 152);
    text-align: center;
}

header nav{
    color: white;
    
}

header a{
    text-decoration: none;
    background-color: white;
    color:rgb(250, 152, 152);
    border-radius: 4px;
    font-size: 1.5rem;
}

header h1{
    font-size: 35px;
    color: white;
}

.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
    
@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

main{
    background-color: white
}

main div img{
    height: 510px;
    width: 390px;
}

main div h1,h3{
    text-align: center;
    color: rgb(250, 152, 152);
}

footer{
    background-color: rgb(250, 152, 152);
    text-align: center;
}

footer nav a{
    text-decoration: none;
    background-color: white;
    color:rgb(250, 152, 152);
    font-size: 1.5rem;
    border-radius: 5px;
}

footer a img{
    width: 24px;
    height: 24px;
}